@charset "UTF-8";

#change {
    width: 300px;
    height: 300px;
    margin: 80px auto;
    border-radius: 50%;
}

#change {
    transition-property: background-color;
    transition-duration: 8s;
    transition-timing-function: linear;
    background-color: red;
    animation-duration: 2s;
    animation-name: bounceIn;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

